/* @import url('https://fonts.googleapis.com/css2?family=Sora:wght@100;400&display=swap'); */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Sora', sans-serif;
}

h1, h2, h3, h4, h5, h6, p, a, input, textarea, ul {
    margin: 0;
    padding: 0;
}

ul {
    list-style-type: none;
}

a {
    text-decoration: none;
}

h3{
    font-weight: normal;
}

.wrapper {
    display: grid;
    grid-template-columns: 1fr 4fr;
    background-color: black;
}

aside {
    padding: 2rem;
    padding-right: 0;
    color: white;    
    top: 0;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.logo {
    display: flex;
    font-weight: 600;
    font-size: 1.5rem;
    gap: 1rem;
}

.menu {
    display: flex;
    flex-direction: column;
    gap: .5rem;
}

.boton-menu {
    background-color: transparent;
    border: 0;
    color: white;
    cursor: pointer;
    display: flex;
    align-items: center;
    gap: 1rem;
    font-weight: 600;
    padding: 1rem;
    font-size: 1rem;    
    border-radius: .5rem;
}

.boton-menu.active {
    background-color: white;
    color: black;    
}

.boton-menu.active::before {
    content: '';
    position: absolute;
    width: 1rem;
    height: 2rem;
    bottom: 100%;
    right: 0;
    background-color: transparent;
    border-bottom-right-radius: .5rem;
    box-shadow: 0 1rem 0 white;
}

.boton-menu.active::after {     
    width: 1rem;
    height: 2rem;
    top: 100%;
    right: 0;
    background-color: transparent;
    border-top-right-radius: .5rem;
    
}

.boton-carrito {
    margin-top: 2rem;
    color: rgba(240, 8, 97, 0.781);
}

.numerito {
    background-color: white;
    color: rgb(21, 21, 92);
    padding: .15rem .25rem;
    border-radius: .25rem;
}

.boton-carrito.active .numerito {
    background-color: rgb(21, 21, 92);
    color: white;
}

.texto-footer {
    color: white;
    font-size: .65rem;
}

main {
    background-color: white;    
    margin-left: 0;    
    padding: 3rem;
}

.titulo-principal {
    color: black;
    margin-bottom: 2rem;
}

.contenedor-productos {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 1rem;
}

.producto-imagen {
    max-width: 100%;
    border-radius: .5rem;    
}

.producto-detalles {
    background-color: rgb(21, 21, 92);
    color: white;
    padding: .5rem;   
    position: relative;
    display: flex;
    flex-direction: column;
    gap: .25rem;
    text-align: center;
    border-radius: .5rem ;
}

.producto-titulo {
    font-size: 1rem;
}

.producto-agregar {
    border: 0;
    background-color: white;
    color: rgb(21, 21, 92);
    padding: .4rem;
    text-transform: uppercase;    
    cursor: pointer;
    border: 2px solid white;
    border-radius: .5rem;
}

.producto-agregar:hover {
    background-color: rgba(240, 8, 97, 0.781);
    color: white;
}


.contenedor-carrito {
    display: flex;
    flex-direction: column;
    gap: 1.5rem;
}

.carrito-vacio,
.carrito-comprado {
    color: rgb(21, 21, 92);
}

.carrito-productos {
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

.carrito-producto {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: rgb(194, 189, 189);
    color: black;
    padding: .5rem;
    padding-right: 1.5rem;
    border-radius: .5rem;    
}

.carrito-producto-imagen {
    width: 4rem;
    border-radius: .5rem;   
}

.carrito-producto small {
    font-size: .75rem;
}

.carrito-producto-eliminar {
    background-color: black;
    color: red;
    cursor: pointer;
    border-radius: .5rem;
    padding: 1rem;
    text-transform: uppercase;
}

.carrito-acciones {
    display: flex;
    justify-content: space-between;
    gap: 1rem;
}

.carrito-acciones-vaciar {
    border: 0;
    background-color: rgb(194, 189, 189);
    padding: 1rem;    
    color: black;
    text-transform: uppercase;
    cursor: pointer;
    border-radius: .5rem
}

.carrito-acciones-vaciar:hover {
    background-color: rgb(21, 21, 92);
    color: white;
}

.carrito-acciones-derecha {
    display: flex;
    gap: 1rem;
}

.carrito-acciones-total {
    display: flex;
    background-color: rgb(194, 189, 189);
    padding: 1rem;
    color: black;
    text-transform: uppercase;    
    gap: 1rem;
    border-radius: .5rem
}

.carrito-acciones-comprar {
    border: 0;
    background-color: black;
    padding: 1rem;
    color: white;
    text-transform: uppercase;
    cursor: pointer;
    border-radius: .5rem    
}

.carrito-acciones-comprar:hover {
    background-color: rgb(21, 21, 92);
    color: white;
}

.disabled {
    display: none;
}


@media screen and (max-width: 850px) {
    .contenedor-productos {
        grid-template-columns: 1fr 1fr 1fr;
    }
}

@media screen and (max-width: 675px) {
    
    .contenedor-productos {
        grid-template-columns: 1fr 1fr;
    }
}


@media screen and (max-width: 400px) {
    .contenedor-productos {
        grid-template-columns: 1fr;
    }
}